{% extends 'layouts/admin_layout.html.twig' %}

{% block title %} Blog Anasayfa {% endblock %}

{% block body %}

<div class="container" id="container">

    Dashboard ekranına hoş geldiniz


</div>

{% endblock %}
