 <footer class="footer-bs" style="background: #f2f2f2">
    <div class="container">
        <div class="row">
        	<div class="col-md-6">
                footer bölümü
            </div>
        	<div class="col-md-6">
            	<p class="text-right">© 2014 BS3 UI Kit, All rights reserved</p>    	            	
            </div>
        </div>
    </div>
</footer>